extend layout
block main-content
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non debitis eos corporis, magni doloremque reiciendis aperiam, rem pariatur libero illum, velit ipsam mollitia. Illum ullam labore itaque voluptatum deserunt eum.
  p 
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, delectus, vitae, sint dolorum cum rerum blanditiis quae sunt distinctio cupiditate magnam asperiores ut amet non quos. Omnis, asperiores necessitatibus deserunt.
block sidebar
  .widget
    h1 Widget
    p
      | Magnam asperiores ut amet non quos. Omnis, asperiores 
      | necessitatibus deserunt
    p 
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.